.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 350px;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    color: #8b8484;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar button {
    background: none;
    color: #8b8484;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }